.container-fluid .content {
    margin-left: 240px;
}
.container-fluid .content-content {
    margin-right: 220px;
    padding: 17px 17px 17px 0;
    background: url(/media/images/sidebar-right-bg.png) repeat-y right top;
    min-height: 300px;
}

.sidebar.left {
    position: absolute;
    top: 0;
    left: 21px;
    width: 220px;
    background: #efefef;
}
.sidebar.right {
    float: right;
    margin-left: 0;
}

.topbar {
    position: static;
    border-bottom: 1px solid #b3b3b3;
    padding: 15px 0 10px 17px;
    background: url(/media/images/topbar-left-bg.png) #efefef repeat-y left top;
}
.topbar-inner {
    background: none;
    box-shadow: none;
}
.topbar .nav a {
    color: #666666;
    padding: 7px 15px;
    box-shadow: 3px 3px 0px #AFAEAE;
    margin: 0 15px 0 0;
    border: 1px solid #dcdcdc;
    background: #ffffff;
}
.topbar .nav a:hover,
.topbar .nav .active a  {
    background: #F1696D;
    border: 1px solid #F1696D;
}

#logo {
    width: 184px;
    margin: 20px auto 10px auto;
}

.block ul li {
    line-height: 20px;
}
.block ul a {
    text-decoration: underline;
}
.block h4 {
    padding: 0 10px;
    font-weight: normal;
}
.block ul {
    padding: 15px 22px;
    margin: 0;
    list-style-type: none;
}
.sidebar.right .block h4 {
    background: #F1696D;
    color: #ffffff;
}
.sidebar.left .block h4 {
    background: #34906B;
    color: #ffffff;
}

.outliner {
    border-left:1px solid #b3b3b3;
    border-right:1px solid #b3b3b3;
    border-bottom:1px solid #b3b3b3;
    background: url(/media/images/sidebar-left-bg.png) repeat-y left top;
}

footer {
    border: 0;
    margin: 20px 0 50px 0;
    padding: 0;
    text-align: center;
}

.hentai-item {
    overflow: hidden;
    margin: 0 0 20px 0;
}
.hentai-item.last {
    margin-bottom: 0;
}
.hentai-item .thumb {
    background: #cccccc;
    width: 100px;
    height: 130px;
    float: left;
    margin: 0 15px 0 0;
    border: 1px solid #cccccc;
}
.hentai-item .info {
    float: left;
}

.hentai-item .info .title {
    font-weight: bold;
    color: #EF5457;
    font-size: 16px;
    margin: 0 0 10px 0;
}
.hentai-item .hentai-actions {
    margin: 10px 0 0 0;
}

.add-friend-link {
    font-weight: bold;
}

.listing-wrapper ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;
    min-width: 350px;
}
.listing-wrapper a {
    text-decoration: underline;
}
.listing-wrapper {
    overflow: hidden;
}
