{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}

{% block content_content %}
<div class="search-result">
  {% if query %}

    <h2>
    {% blocktrans %}
      There are {{ results_count }} results for "{{ query }}"
    {% endblocktrans %}
    </h2>

    {% for result in page.object_list %}
      <div class="hentai-item">
        <div class="like-wrapper">
          <div class="counter">{{ result.object.likes.count }}</div>
          <a href="{% url like result.object.id %}?destination={{ request.path }}?q={{ query }}">{% trans "Like" %}</a>
        </div>
        <div class="thumb">
          {% thumbnail result.object.thumbnail "100x130" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
          {% endthumbnail %}
        </div>
        <div class="info">
          <div class="title">{{ result.object.title }}</div>
          <div class="date-added">
            {% blocktrans with created=result.object.created %}
              Added on: {{ created }}
            {% endblocktrans %}
          </div>
          <div class="tags-wrapper">
            {% trans "Category" %}: <a href="#">{{ result.object.category.name }}</a>
            {% with result.object.series.all as series_tags %}
              {% if series_tags %}
                {% trans "Series" %}: <a href="{% url tag_detail 'series' series_tags.0.id %}">{{ series_tags.0 }}</a>
              {% endif %}
            {% endwith %}
            {% with result.object.artist.all as artist_tags %}
              {% if artist_tags %}
                {% trans "Artist" %}: <a href="{% url tag_detail 'artist' artist_tags.0.id %}">{{ artist_tags.0 }}</a>
              {% endif %}
            {% endwith %}
            {% with result.object.tags.all as tags_tags %}
            {% if tags_tags %}
              <div class="tags">
                {% trans "Tags" %}: 
                {% for tag in tags_tags %}
                  <a href="{% url tag_detail 'tags' tag.id %}">{{ tag.name }}</a>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
          </div>
          <div class="hentai-actions">
            <a class="view-online" href="{{ result.object.url }}">{% trans "View Online" %}</a>{% if result.object.download_url %} | <a href="{{ result.object.download_url }}" target="_blank">{% trans "Download High Res ZIP" %}</a>{% endif %}
          </div>
        </div>
      </div>

      {% if paginator.num_pages > 1 %}
      <div class="pagination">
        <div class="pagination">
          <ul>
            <li class="prev {% if not page.has_previous %}disabled{% endif %}">
              <a href="?q={{ query }}&page={{ page.previous_page_number }}">&larr; {% trans "Previous" %}</a>
            </li>
            <li class="disabled">
              <a href="#">Page {{ page.number }} of {{ paginator.num_pages }}</a>
            </li>
            <li class="next {% if not page.has_next %}disabled{% endif %}">
              <a href="?q={{ query }}&page={{ page.next_page_number }}">{% trans "Next" %} &rarr;</a>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}

    {% empty %}
      <p>{% trans "Your search returned no results." %}</p>
    {% endfor %}

  {% else %}
    <p>{% trans "You haven't search for anything." %}</p>
  {% endif %}
</div>
{% endblock content_content %}