{% extends 'base.html' %}
{% load i18n %}

{% block content_content %}
<div class="series-listing">
	{% if series_list.object_list %}
		<div class="listing-wrapper">
			{% for tag in series_list.object_list %}
				{% if forloop.first or forloop.counter == 51 %}
				<ul>
				{% endif %}
				<li><a href="#">{{ tag.name }}</a> ({{ tag.items.count }})</li>
				{% if forloop.last or forloop.counter == 50 %}
				</ul>
				{% endif %}
			{% endfor %}
		</div>

		<div class="pagination">
			<div class="pagination">
			  <ul>
			    <li class="prev {% if not series_list.has_previous %}disabled{% endif %}">
						<a href="?page={{ series_list.previous_page_number }}">&larr; {% trans "Previous" %}</a>
					</li>
			    <li class="disabled">
						<a href="#">Page {{ series_list.number }} of {{ series_list.paginator.num_pages }}</a>
					</li>
			    <li class="next {% if not series_list.has_next %}disabled{% endif %}">
						<a href="?page={{ series_list.next_page_number }}">{% trans "Next" %} &rarr;</a>
					</li>
			  </ul>
			</div>
		</div>
	{% else %}
		<p>{% trans "There are no series tags yet." %}</p>
	{% endif %}
</div>
{% endblock content_content %}